.dashboard {
  color: white;
  background-color: black;
  height: 100%;
  min-height: 100vh;
  text-align: left;
}

.dashboardMainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardMain {
  background: #1a1a1a;
  width: 80%;
  max-width: 500px;
  min-height: 600px;
  padding: 20px 5%;
  position: relative;
}

.dashboardLogo {
  color: #ff1493;
  font-weight: 800;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 0 0 20px 0;
}

.dashboard h5 {
  padding: 5px;
  word-spacing: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

.dashboard span {
  text-transform: capitalize;
  color: #ff1493;
}

.dashboard .logout {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: deeppink;
  cursor: pointer;
  text-transform: lowercase;
  font-weight: 800;
}

