.loginLoading {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.712);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loading img {
  width: 30px;
  z-index: 10;
}